.gradle/
archives/
build/
*.apk
*.aab
*.iml
local.properties
.idea/
.DS_Store
captures/
app/.cxx/
app/src/main/assets/
app/version.properties
tcl-android/
tcl8.6.15/
tcl8.6.15-src.tar.gz
writhdeck.jks
writhdeck.jks.info.txt
writhdeck-release.apk*
